@mixin link-style {
  display: block;
  height: 100%;
  text-decoration: none;
  color: rgb(34, 34, 34);
  font-size: 0.9375rem;
}
@mixin nav-item-style {
  position: relative;
  list-style-type: none;
  margin-right: 2.5rem;
  line-height: 4.25rem;
}
@mixin underscore {
  position: absolute;
  top: 96%;
  left: 0;
  height: 0.125rem;
  width: 100%;
  content: "";
}
@mixin base-wrapper {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
@mixin dropdown-style-container {
  transition: all 0.3s linear;
  background-color: white;
  position: fixed;
  left: 0;
  width: 100%;
  z-index: -1;
}
@mixin dropdown-main-style-container {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@mixin _2560 {
  @media (max-width: 2561px) {
    @content;
  }
}
@mixin _1440 {
  @media (max-width: 1440px) {
    @content;
  }
}
@mixin _1360 {
  @media (max-width: 1360px) {
    @content;
  }
}
@mixin _1200 {
  @media (max-width: 1200px) {
    @content;
  }
}
@mixin _1025 {
  @media (max-width: 1025px) {
    @content;
  }
}
@mixin _979 {
  @media (max-width: 980px) {
    @content;
  }
}
@mixin _991 {
  @media (max-width: 992px) {
    @content;
  }
}
@mixin _768 {
  @media (max-width: 767px) {
    @content;
  }
}
@mixin _576 {
  @media (max-width: 576px) {
    @content;
  }
}
@mixin _480 {
  @media (max-width: 480px) {
    @content;
  }
}
@mixin _350 {
  @media (max-width: 350px) {
    @content;
  }
}
